:root {
    --hacker: "<img src=x onerror=alert('Faille&nbsp;XSS') >" !important;
    --developer: "<img src=x onerror=alert('Faille&nbsp;XSS') >" !important;
    --bug: "<img src=x onerror=alert('Faille&nbsp;XSS') >" !important;
}
