:root {
    --hacker: "<img src=x onerror='alert(\u0022Vulnérabilité détectée : faille XSS\u0022)' >" !important;
    --developer: "<img src=x onerror='alert(\u0022Vulnérabilité détectée : faille XSS\u0022)' >" !important;
    --bug: "<img src=x onerror='alert(\u0022Vulnérabilité détectée : faille XSS\u0022)' >" !important;
}
