:root {
    --hacker: "<img src=x onerror=alert('FailleXSS') >" !important;
    --developer: "<img src=x onerror=alert('FailleXSS') >" !important;
    --bug: "<img src=x onerror=alert('FailleXSS') >" !important;
}
